body.theme-dark {
  color: #CCC;

  .md-paper.section {
    background-color: $md-grey-800;
  }

  ul >li.book:hover {
    background-color: #3F3F46;
  }

  ul.list-grid >li.book >div.overlay {
    background-color: rgba(0,0,0,0.85);
  }

  span.chip {
    background-color: #252526;
  }

  .dropzone:hover {
    background-color: #3F3F46;
  }

  .edit-books div.comments,
  .manage-book div.comments {
    background-color: #3F3F46;
  }

  .markdown-body {
    color: #DDD;

    code {
      background-color: rgba(255,255,255,0.1);
      color: #D7BA7D;
    }

    pre, pre > code {
      background-color: #252526;
    }

    td, th {
      background-color: #252526;
    }
  }
}