.purchase-subscription {

    .increase-size-limit {
        background-color: $lllgray;
        border: solid 0.1em $llgray;
        padding: 0.5em;
        width: 80%;
        margin: 1em auto;
    }

}

.expiration > input[type=number] {
	display: inline-block;
	width: 5em;
}