.recently-opened {
    
    .book {
        
        .info {
            
            margin-bottom: 2em;
            
            .title, .last-read {
                display: block;
            }
            
            .percent-complete, .word-count, .icon-edit, .icon-more {
                margin: 0.25em;
            }
            
            .percent-complete, .word-count {
                background-color: $lllgray;
                padding: 0em 0.2em;
                border-radius: 0.3em;
            }
            
            .icon-more, .icon-edit {
                font-size: 110%;
            }
            
        }
        
    }
    
}

.manage-book {
    
    section {
        margin-bottom: 2em;
    }
    
    input[type=text] {
        width: 25em;
    }
    
    input[type=date] {
        font-size: 1em;
        margin: 1em 0em;
    }
    
    input {
        font-size: 85%;
    }
    
    section.cover {
        
        .dropzone, img {
            height: 15em;
            width: 10em;
        }
        
        .dropzone {
            border: $gray dotted 0.3em;
            border-radius: 0.5em;
            padding: 0.5em;
            margin-bottom: 0.5em;
        }
        
        div {
            margin: auto;
        }
        
    }
    
    section.comments {
        
        .comments-edit {
            width: 60%;
            height: 15em;
            font-size: 100%;
        }
        
        div.comments {
            width: 70%;
            margin: auto;
            background-color: $llgray;
            padding: 0.5em;
            border-radius: 0.3em;
            margin-bottom: 1em;
        }
        
    }
    
    section.formats {
        
        table.formats {
            margin-bottom: 1em;
        }
        
    }
    
}

.list-compact {
    
    width: 50%;
    margin: auto;
    text-align: left;
    
    .book {
        
        border-bottom: solid $llgray 0.1em;
        padding: 0.5em;
        position: relative;
        height: 9em;
    
        img.cover {
            height: 7em;
            width: 4.5em;
            position: absolute;
            left: 1em;
        }
        
        .info {
            
            position: absolute;
            left: 6.5em;
            
            .authors {
                display: block;
            }
            
            .percent-complete, .date-added, .word-count, .rating {
                background-color: $lllgray;
                padding: 0em 0.2em;
                border-radius: 0.3em;
                border: solid $llgray 1px;
                margin: 0.1em;
            }
            
        }
    
    }
    
    
}

/* PORTRAIT ORIENTATION */

@media all and (orientation: portrait) {
    
    .list-compact {
        width: 100%;
    }
    
}