.home {
    
    margin: 0em;

    a.register {
        margin-right: 0.5em;
    }

    p {
        width: 100%;
    }

    section {
        padding: 1% 20%;
    }

    .section-1 {
        
        background-color: $blue;
        color: white;
        text-align: left;
        
        h1, h2 {
            color: $black;
        }
        
        a {
            color: $lblack;
        }
        a:hover {
            color: $ddgray;
        }
        
    }
    
    .section-2 {
        
        background-color: white;
        text-align: right;
        
        h1, h2 {
            color: $blue;
        }
        
    }

    footer {

        a {
            margin: 0.5em;
        }

    }
    
}