.home {
    
    margin: 0em;

    a.register {
        margin-right: 0.5em;
    }

    .section-1 {
        
        background-color: $blue;
        padding: 1em;
        color: white;
        text-align: left;
        
        h1, h2 {
            color: $black;
        }
        
        a {
            color: $lblack;
        }
        a:hover {
            color: $ddgray;
        }
        
    }
    
    .section-2 {
        
        background-color: white;
        padding: 1em;
        text-align: right;
        
        h1, h2 {
            color: $blue;
        }
        
    }
    
}