.home {
    
    margin: 0em;

    a.register {
        margin-right: 0.5em;
    }

    p {
        width: 100%;
    }

    section {
        padding: 1% 20%;
    }

    section:nth-child(even) {
        
        background-color: $blue;
        color: white;
        text-align: left;
        
        h1, h2 {
            color: $black;
        }
        
        a {
            color: $lblack;
        }
        a:hover {
            color: $ddgray;
        }
        
    }
    
    section:nth-child(odd) {
        
        background-color: white;
        text-align: right;
        
        h1, h2 {
            color: $blue;
        }
        
    }

    section.install > a {
        font-size: 110%;
        display: inline-block;
        padding: 0.2em;
    }

    section.main {

        text-align: center;

        .iframe-container {
            margin: 1em;
        }

    }

    footer {

        a {
            margin: 0.5em;
        }

    }
    
}