/* MISC */
body {
	line-height: 142%;
	font-family: "Source Sans Pro",Calibri,Candara,sans-serif;
    text-align: center;
	margin: 3.5em 0em;
}
hr {
	border: 0;
    height: 1px;
	margin: 2em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
button {
    cursor: pointer;
}
span[class^="icon-"]:hover {
    cursor: pointer;
    color: $dgray;
}
table {
	margin: auto;
}
p {
	width: 80%;
	margin: auto;
}
* {
	// Text selection still works in ebook iframe
	user-select: none;
}
#content {
	margin-top: 1em;
}

/* Dropzone */
.dropzone {
	border: $gray dotted 0.3em;
	border-radius: 0.5em;
	padding: 0.5em;
	width: 40%;
	margin: auto;
}
.dropzone:hover {
	background-color: $llgray;
}
.libyq {

	section {
		background-color: $lllgray;
		padding: 0.5em;
		margin: 1em auto;
		width: 80%;
	}

}


/* LINKS */
a {
	color: $blue;
    cursor: pointer;
	text-decoration: none;
}
a:hover, a:focus {
	color: $lblue;
}
.link-lg {
	font-size: 125%;
}
a > span[class^="icon-"]:hover {
	color: $lblue;
}


/* BUTTONS */
input[type=submit], button, .btn {
	height: 3.142em;
	min-width: 7em;
	color:#fff;
	padding: 5px 10px;
	border: 0;
	text-transform: uppercase;
	border-radius: 0.15em;
	margin: 1em 0.5em;
}
.btn-sm {
	height: 2.142em;
	min-width: 5em;
}
.btn-lg {
	font-size: 140%;
}
.btn-primary {
	background-color: $blue;
}
.btn-primary:hover {
	background-color: $lblue; 
}
.btn-secondary {
	background-color: $gray;
}
.btn-secondary:hover {
	background-color: $lgray;
}
.btn-danger {
	background-color: $danger;
}
.btn-danger:hover {
	background-color: $ldanger;
}
input[type=submit]:focus, button:focus {
	background-color: $lblack;
}
a.btn:hover {
    color: white;
}


/* FORMS */
input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel] {
    text-align: center;
	height: 1.571em;
}
input[type=text], input[type=password], input[type=email], input[type=tel] {
	width: 16em;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, textarea:focus, select:focus {
	border-color: $gray;
	outline: none;
}
input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], textarea, select {
	padding: 4px 8px;
	color: $lblack;
	border: 1px solid $llgray;
	background-color: rgba(255,255,255,.8);
	display: block;
	margin: 1em auto;
}
label {
    display: block;
    font-weight: bold;
}
.input-description {
    font-size: 90%;
    color: $dgray;
    display: block;
    width: 80%;
    margin: auto;
}
input[type=checkbox] {
    margin-bottom: 1em;
}

/* Sweet alert */
.sweet-alert > fieldset > input {
    display: none;
}
.sweet-alert p {
	margin: auto !important;
}

/* NAV-BAR */
nav.nav-bar {
	
	background-color: $lllgray;
	border-bottom: solid 0.05em $lgray;
	padding: 0.5em 0em;
	font-size: 115%;	
	position: fixed;
	left: 0%;
	right: 0%;
	top: 0%;
	z-index: 1;
	
	.left, .right {
		
		vertical-align: middle;
		display: inline-block;
		width: 25%;

		a {
			margin: 1%;
		}

	}
	
	.title {
		display: inline-block;
		width: 50%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: bottom;
	}
	
}

.loading {
    display: block;
    text-align: center;
    font-size: 2em;
    position: fixed;
    left: 0%;
    right: 0%;
    bottom: 5%;    
}