.reader {
    
    #book {
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        padding: 1em;
    }
    
    .nav-bar-hidden {
        position: fixed;
        top: 0%;
        left: 30%;
        right: 30%;
        bottom: 95%;
        z-index: 1;
    }
    
    .controls {
        
        .previous-page {
            position: fixed;
            top: 0%;
            left: 0%;
            right: 90%;
            bottom: 0%;
        }
        
        .next-page {
            position: fixed;
            top: 0%;
            left: 90%;
            right: 0%;
            bottom: 0%;
        }
        
    }
    
    .status {
        position: fixed;
        font-size: 70%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        color: $gray;
    }
    
    .modal {
        
        background-color: white;
        position: fixed;
        left: 15%;
        right: 15%;
        bottom: 10%;
        top: 10%;
        padding: 1em;
        overflow-y: auto;
        border: solid 0.1em $llgray;
        box-shadow: 0.3em 0.3em 0.9em black;
        
        .icon-close {
            position: absolute;
            right: 2%;
        }
        
        ul {
            
            list-style: none;
            padding: 0;
            margin: 0;
            
            li {
                font-size: 110%;
                padding: 0.1em;
                border-bottom: solid 0.1em $llgray;
            }
            
            li:nth-child(even) {
                background-color: $lllgray;
            }
            
            .created {
                display: block;
                font-size: 80%;
            }
            
        }
        
        ul.notes {
            
            .highlighted-text {
                display: block;
                font-style: italic;
                color: $dgray;
            }
            
        }
        
        div.notes {
            
            .icon-back {
                position: absolute;
                left: 2%;
                top: 2%;
            }
            
        }
        
    }
    
}