.reader {
    
    #book {
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        padding: 1em 0em;
    }
    
    .overlay {

        .status {
            position: fixed;
            font-size: 70%;
            bottom: 0%;
            left: 0%;
            right: 0%;
            color: $gray;
        }

        nav {

            a[disabled] {
                pointer-events: none;
                cursor: default;
                color: $gray;
            }

        }

    }
    
    .modal {
        
        background-color: white;
        position: fixed;
        left: 15%;
        right: 15%;
        bottom: 10%;
        top: 10%;
        padding: 1em;
        overflow-y: auto;
        border: solid 0.1em $llgray;
        box-shadow: 0.1em 0.1em 0.3em $dgray;
        z-index: 1;

        span[class^="icon-"] {
            position: absolute;
            z-index: 2;
        }

        .icon-close {
            right: 2%;
        }

        .icon-back {
            left: 2%;
        }

        span[class^="icon-resize-"] {
            right: 5%;
            font-size: 68%;
        }
        
        ul {
            
            list-style: none;
            padding: 0;
            margin: 0;
            
            li {
                font-size: 110%;
                padding: 0.1em;
                border-bottom: solid 0.1em $llgray;
            }
            
            li:nth-child(even) {
                background-color: $lllgray;
            }
            
            .created {
                display: block;
                font-size: 80%;
            }
            
        }
        
        ul.notes {
            
            .highlighted-text {
                display: block;
                font-style: italic;
                color: $dgray;
            }
            
        }
        
        .icon-back {
            position: absolute;
            left: 2%;
            top: 2%;
        }
        
        .create-note {
            
            textarea.note {
                width: 60%;
                height: 15em;
                text-align: center;
                font-size: 1em;
            }
            
        }

        .manage-annotations {

            .annotation-set {

                background-color: $lllgray;
                border: solid 0.1em $llgray;
                width: 70%;
                margin: 1em auto;
                padding: 0.5em;


                .title {
                    font-size: 110%;
                    font-weight: bold;
                }

                .description {
                    display: block;
                    font-size: 90%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 80%;
                    margin: auto;
                }

            }

        }

        .annotation {

            .head {

                position: absolute;
                top: 2%;
                left: 2%;
                right: 2%;
                bottom: 85%;
                border-bottom: solid 0.15em $gray;
                
                nav {

                    margin-bottom: 1em;

                    a {
                        color: $dgray;
                    }

                    a.active {
                        color: $blue;
                    }

                }

                .annotation-name {
                    font-weight: bold;
                    font-size: 120%;
                }

            }

            .value > div {
                position: absolute;
                left: 0%;
                top: 0%;
                right: 0%;
                bottom: 0%;
            }

            .value {

                position: absolute;
                top: 17%;
                left: 0%;
                right: 0%;
                bottom: 0%;
                overflow: hidden;

                .link, .search, .video, .map {
                    overflow-y: hidden;
                }

                .image, .document {
                    overflow-y: auto;
                }

                a {
                    display: block;
                }

                iframe {
                    width: 100%;
                    height: 100%;
                    border: none;
                }

            }

        }

        .book-info {

            text-align: left;

            table {
                
                width: 100%;

                th {
                    width: 30%;
                }

                td {
                    width: 70%;
                }

                th, td {
                    border-bottom: solid 0.1em $llgray;
                }

            }

            .tag {
                display: inline-block;
                margin: 0em 0.2em;
            }

            .tag:first-child {
                margin-left: 0em;
            }

            .comments {
                border-top: solid 0.15em $lgray;
                padding-top: 1em;
                margin-top: 1em;
            }

        }
        
    }

    .modal.full {
        left: 0%;
        right: 0%;
    }

    .modal.full.middle {
        top: 0%;
        bottom: 0%;
        border: none;
        box-shadow: none;
    }

    .modal.top {
        top: 0%;
        bottom: 55%;
    }

    .modal.bottom {
        top: 55%;
        bottom: 0%;
    }
    
}