<!DOCTYPE html>

<html>
<head>
    <title>Libyq</title>
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../fontello/css/fontello.css">
    
    <script src="../js/localforage.min.js"></script>
    <script src="../js/jszip.min.js"></script>
    <script src="../js/epub.js"></script>
    <script src="../js/reader.js"></script>
</head>
<body>
    <div id="content"></div>
    <script src="../js/App.js"></script>
</body>
</html>