<!DOCTYPE html>

<html>
<head>
    <title>Xyfir Books</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="static/fontello/css/fontello.css">
    <link rel="stylesheet" href="static/css/style.css">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="static/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">
    <link rel="manifest" href="static/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#0078d7">
    <meta name="msapplication-TileImage" content="static/icons/mstile-144x144.png">
    <meta name="theme-color" content="#0078d7">

    <!-- Info -->
    <meta name="description" content="An all-in-one cloud-synced ebook reader, storage, and management system.">

    <meta property="og:title" content="Xyfir Books - Ebook Reader, Storage, and Management">
    <meta property="og:site_name" content="Xyfir Books">
    <meta property="og:url" content="https://books.xyfir.com">
    <meta property="og:description" content="An all-in-one cloud-synced ebook reader, storage, and management system.">
    <meta property="og:image" content="https://i.imgur.com/g4Lrb78.png">
    <meta property="og:type" content="website">
</head>
<body class="home">
    <nav class="navbar">
        <a href="https://accounts.xyfir.com/app/#/register/14">Register</a>
        <a href="app/">Web App</a>
        <a href="https://accounts.xyfir.com/app/#/login/14">Login</a>
    </nav>

    <main>
        <section class="main">
            <div>
                <h1>Xyfir Books</h1>
                <span class="subtitle">
                    An all-in-one cloud-synced ebook reader, storage, and management system.
                </span>

                <span class="platforms">
                    web, desktop, ios, android
                </span>
            </div>
        </section>

        <section class="trial">
            <button class="btn-lg btn-primary" onclick="location.href = 'https://accounts.xyfir.com/app/#/register/14'">
                Start your free trial
            </button>
            <span class="note">
                All that's needed to start your trial is a free <a target="_blank" href="https://accounts.xyfir.com/">Xyfir Account</a>. No payment information required.
            </span>
        </section>

        <section class="install with-screenshot">
            <img src="http://imgur.com/auS88ai.png" alt="Screenshot 1">

            <div>
                <h2>Install</h2>
                <p>
                    You can access Xyfir Books in your browser just like any other site via our <a href="app/">web app</a> or with our mobile and desktop applications.
                </p>
                
                <a class="icon-apple" href="https://itunes.apple.com/us/app/xyfir-books-ebook-reader-storage/id1195379180">iOS</a>
                <a class="icon-android" href="https://play.google.com/store/apps/details?id=com.xyfir.books">Android</a>
                <br />
                <a class="icon-apple" href="https://xyfir.com/downloads/Xyfir-Books/Xyfir_Books_Mac.app.zip">Mac</a>
                <a class="icon-linux" href="https://xyfir.com/downloads/Xyfir-Books/Xyfir_Books_Linux.zip">Linux</a>
                <a class="icon-windows" href="https://xyfir.com/downloads/Xyfir-Books/Xyfir_Books_Win.zip">Windows</a>
            </div>
        </section>
        
        <section class="cloud with-screenshot">
            <img src="http://imgur.com/n8AeU2e.png" alt="Screenshot 2">

            <div>
                <h2>In the Cloud</h2>
                <p>
                    Your books, ratings, notes, bookmarks, and all other library data are all stored in the cloud allowing you to continue a book easily on one device that you started on another.
                </p>
            </div>
        </section>

        <section class="management with-screenshot">
            <img src="http://imgur.com/M8w2sCg.png" alt="Screenshot 3">

            <div>
                <h2>Library Management</h2>
                <p>
                    Xyfir Books is built with simple library management available from any device in mind. Updating a book's metadata like title, authors, rating, or even cover is a piece of cake. You can even edit multiple books at once.
                </p>
            </div>
        </section>

        <section class="reader with-screenshot">
            <img src="http://imgur.com/BCPKO0G.png" alt="Screenshot 4">

            <div>
                <h2>Ebook Reader</h2>
                <p>
                    Xyfir Books is more than just library management and storage, it's also an ebook reader. Xyfir Books comes with all the features you would expect from an ebook reader like bookmarks, notes and highlighting, and more. All with the benefits of instantly having all your data synced to the cloud so you can easily pick up where you left off on another device. Our reader is available on any device you can access Xyfir Books with and can read ePub format ebooks.
                </p>
            </div>
        </section>

        <section class="xyfir-annotations with-screenshot">
            <img src="http://imgur.com/ph5Jok6.png" alt="Screenshot 5">

            <div>
                <h2>Xyfir Annotations</h2>
                <p>
                    <a href="https://annotations.xyfir.com/" target="_blank">Xyfir Annotations</a> allows you to better explore and interact with your ebooks. When reading a book you can search for and download annotations for your book. Once downloaded, annotations will be available to use while reading. Enabling <em>annotations mode</em> while reading allows you to click on highlighted items in your book and view that item's annotations. An annotation can be a document, a wiki link, an image, and many other things.
                </p>
            </div>
        </section>

        <section class="calibre with-screenshot">
            <img src="http://i.imgur.com/1VjpmOu.png" alt="Screenshot 6">

            <div>
                <h2>Calibre Compatible</h2>
                <p>
                    <a href="https://calibre-ebook.com/" target="_blank">Calibre</a> is a widely popular suite of tools for ebook reading and library management. Since Calibre is such a popular program we have made Xyfir Books entirely compatible with Calibre libraries. You can upload your Calibre library to Xyfir Books and if you ever need to, re-download the updated and still Calibre compatible library.
                </p>
            </div>
        </section>

        <section class="try-it-free">
            <h2>Try It Free</h2>
            <p>
                There's a lot more to Xyfir Books than mentioned here. Give it a try and experience it for yourself. We'll give you a week subscription for free, no payment information required.
                <br />
                <a href="app/">Try It Free</a> 
            </p>
        </section>
    </main>

    <footer>
        <a href="https://xyfir.com/#/documentation/xyfir-books/tos">Terms of Service</a>
        <a href="https://xyfir.com/#/network">Xyfir Network</a>
        <a href="https://xyfir.com/#/contact">Contact Us</a>
        <a href="https://ads.xyfir.com/">Advertise</a>
        <a href="https://xyfir.com/#/documentation/xyfir-books/privacy">Privacy Policy</a>
    </footer>

    <script>
        if (location.hash.indexOf("?")) {
            localStorage.setItem(
                "referral", location.hash.split("?r=")[1] || ""
            )
            localStorage.setItem(
                "affiliate", location.hash.split("?promo=")[1] || ""
            );
        }
    </script>
</body>
</html>