<!DOCTYPE html>

<html>
<head>
  <title>Xyfir Books</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/static/fontello/css/fontello.css">
  <link rel="stylesheet" href="/static/css/app.css">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/icons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
  <link rel="manifest" href="/static/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#0078d7">
  <meta name="msapplication-TileImage" content="/static/icons/mstile-144x144.png">
  <meta name="theme-color" content="#0078d7">

  <!-- Info -->
  <meta name="description" content="An all-in-one cloud-synced ebook reader, storage, and management system.">

  <meta property="og:title" content="Xyfir Books - Ebook Reader, Storage, and Management">
  <meta property="og:site_name" content="Xyfir Books">
  <meta property="og:url" content="https://books.xyfir.com">
  <meta property="og:description" content="An all-in-one cloud-synced ebook reader, storage, and management system.">
  <meta property="og:type" content="website">
</head>
<body class="home">
  <nav class="navbar">
    <a href="https://accounts.xyfir.com/app/#/register/14">Register</a>
    <a href="app/">Web App</a>
    <a href="https://accounts.xyfir.com/app/#/login/14">Login</a>
  </nav>

  <main>
    <section class="main">
      <div>
        <h1>Xyfir Books</h1>
        <span class="subtitle">
          An all-in-one cloud-synced ebook reader, storage, and management system.
        </span>

        <div class="platforms">
          <a
            class="platform ios"
            href="https://itunes.apple.com/us/app/xyfir-books-ebook-reader-storage/id1195379180"
          >
            <i class="icon-apple"></i>
            <span class="name">iOS</span>
          </a>
          <a
            class="platform android"
            href="https://play.google.com/store/apps/details?id=com.xyfir.books"
          >
            <i class="icon-android"></i>
            <span class="name">Android</span>
          </a>
          <a class="platform" href="/app/">
            <i class="md-icon material-icons">web</i>
            <span class="name">Web</span>
          </a>
          <a
            class="platform mac"
            href="https://xyfir.com/downloads/Xyfir-Books/Xyfir_Books_Mac.app.zip"
          >
            <i class="icon-apple"></i>
            <span class="name">MacOS</span>
          </a>
          <a
            class="platform linux"
            href="https://xyfir.com/downloads/Xyfir-Books/Xyfir_Books_Linux.app.zip"
          >
            <i class="icon-linux"></i>
            <span class="name">Linux</span>
          </a>
          <a
            class="platform windows"
            href="https://xyfir.com/downloads/Xyfir-Books/Xyfir_Books_Win.app.zip"
          >
            <i class="icon-windows"></i>
            <span class="name">Windows</span>
          </a>
        </div>
      </div>
    </section>

    <section class="free">
      <button
        class="md-btn md-btn--raised md-btn--text md-pointer--hover md-background--secondary md-background--secondary-hover md-inline-block"
        onclick="location.href = 'https://accounts.xyfir.com/app/#/register/14'"
      >
        <div class="md-ink-container"></div>Try Free
      </button>
      <span class="note">
        All that's needed is a free <a target="_blank" href="https://accounts.xyfir.com/">Xyfir Account</a>.
      </span>
    </section>

    <section class="cloud with-screenshot">
      <img src="//i.imgur.com/xY3e128.png" alt="Screenshot 1">

      <div>
        <h2>In the Cloud</h2>
        <p>
          Your books, ratings, notes, bookmarks, and all other library data are all stored in the cloud allowing you to continue a book easily on one device that you started on another.
        </p>
      </div>
    </section>

    <section class="management with-screenshot">
      <img src="//imgur.com/yzGxooR.png" alt="Screenshot 3">

      <div>
        <h2>Library Management</h2>
        <p>
          Xyfir Books is built with simple library management available from any device in mind. Updating a book's metadata like its title, authors, rating, or even cover is a piece of cake. You can even edit multiple books at once. Most all popular ebook formats can be uploaded and edited.
        </p>
      </div>
    </section>

    <section class="reader with-screenshot">
      <img src="//imgur.com/han131B.png" alt="Screenshot 4">

      <div>
        <h2>Ebook Reader</h2>
        <p>
          Xyfir Books is more than just library management and storage, it's also an ebook reader. xyBooks comes with all the features you would expect from an ebook reader like bookmarks, notes and highlighting, and more. All with the benefits of instantly having all your data synced to the cloud so you can easily pick up where you left off on another device. Our reader is available on any device you can access Xyfir Books with and can read EPUB format ebooks.
        </p>
      </div>
    </section>

    <section class="xyfir-annotations with-screenshot">
      <img src="//imgur.com/aQnTUbW.png" alt="Screenshot 5">

      <div>
        <h2>Xyfir Annotations</h2>
        <p>
          <a href="https://annotations.xyfir.com/" target="_blank">Xyfir Annotations</a> allows you to better explore and interact with your ebooks. When reading a book you can search for and download annotations for your book. Once downloaded, annotations will be available to use while reading. Enabling <em>annotations mode</em> while reading allows you to click on highlighted items in your book and view that item's annotations. An annotation can be a document, a wiki link, an image, and many other things.
        </p>
        <p>
          All new xyBooks users are given a free one-month subscription to xyAnnotations when they sign-up.
        </p>
      </div>
    </section>

    <section class="premium with-screenshot">
      <img src="//imgur.com/YgmPlua.png" alt="Screenshot 7">

      <div class="comparison">
        <div class="package free md-paper md-paper--1">
          <header>
            <span class="title">Free</span>
            <span class="price">0</span>
          </header>

          <span class="feature library-sync">Cloud-Synced Library</span>
          <span class="feature cloud-storage">
            <span class="size">1GB</span>
            <span class="text">Cloud Storage</span>
          </span>
          <span class="feature ads">Limited Advertisements</span>
          <span class="feature themes">Default Light Theme</span>
          <span class="feature future">No Premium Features</span>

          <a href="/app/" class="button">Get Started</a>
        </div>

        <div class="package premium md-paper md-paper--1">
          <header>
            <span class="title">Premium</span>
            <span class="price">25</span>
          </header>

          <span class="feature library-sync">Cloud-Synced Library</span>
          <span class="feature cloud-storage">
            <span class="size">15GB</span>
            <span class="text">Cloud Storage</span>
          </span>
          <span class="feature ads">No Advertisements</span>
          <span class="feature themes">Light and Dark Themes + Custom Styling</span>
          <span class="feature future">Current and Future Premium Features</span>

          <a href="/app/" class="button">Get Started</a>
        </div>
      </div>
    </section>

    <section class="calibre with-screenshot">
      <img src="//imgur.com/MWFai9U.png" alt="Screenshot 6">

      <div>
        <h2>Calibre Compatible</h2>
        <p>
          Upload <a href="https://calibre-ebook.com/" target="_blank">Calibre</a> libraries to xyBooks or download a Calibre-compatible version of your xyBooks library.
        </p>
      </div>
    </section>
  </main>

  <footer>
    <a href="https://xyfir.com/#/documentation/xyfir-books/tos">Terms of Service</a>
    <a href="https://xyfir.com/#/network">Xyfir Network</a>
    <a href="https://xyfir.com/#/contact">Contact Us</a>
    <a href="https://xyfir.com/#/advertise">Advertise</a>
    <a href="https://xyfir.com/#/documentation/xyfir-books/privacy">Privacy Policy</a>
  </footer>

  <script>
    if (location.href.indexOf('?') > -1) localStorage.url = location.href;
  </script>
</body>
</html>