<!DOCTYPE html>

<html>
<head>
    <title>Libyq</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/style.css">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="static/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">
    <link rel="manifest" href="static/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#0078d7">
    <meta name="msapplication-TileImage" content="static/icons/mstile-144x144.png">
    <meta name="theme-color" content="#0078d7">
</head>
<body class="home">
    <section class="section-1">
        <h1>Libyq</h1>
        <p>
            An ebook reader and library manager for all your devices. Your library is stored in the cloud to allow access and syncing across devices.
        </p>
        
        <a class="register" href="https://accounts.xyfir.com/app/#/register/14">Register with Xyfir</a>
        <a href="https://accounts.xyfir.com/app/#/login/14">Login with Xyfir</a>

        <br />

        <a href="app/">Web App</a>
    </section>
    
    <section class="section-2">
        <h2>In the Cloud</h2>
        <p>
            Your books, ratings, notes, bookmarks, and all other library data are all stored in the cloud allowing you to continue a book easily on one device that you started on another. No longer do you have to deal with manually transferring libraries.
        </p>
    </section>

    <section class="section-1">
        <h2>Library Management</h2>
        <p>
            Libyq is built with simple library management available from any device in mind. Updating a book's metadata like title, authors, rating, or even cover is a piece of cake. Want to edit multiple books a once? You can do that too!
        </p>
    </section>

    <section class="section-2">
        <h2>Ebook Reader</h2>
        <p>
            Libyq is more than just library management and storage, it's also an ebook reader. Libyq comes with all the features you would expect from an ebook reader like bookmarks, notes and highlighting, and more. All with the benefits of instantly having all your data synced to the cloud so you can easily pick up where you left off on another device. Our reader is available on any device you can access Libyq with and can read ePub format ebooks.
        </p>

        <h3>Libyq Annotations Support</h3>
        <p>
            <a href="https://annotations.libyq.com/" target="_blank">Libyq Annotations</a> allows you to better explore and interact with your ebooks. When reading a book you can search for and download annotations for your book. Once downloaded, annotations will be available to use while reading. Enabling <em>annotations mode</em> while reading allows you to click on highlighted items in your book and view that item's annotations. An annotation can be a document, a wiki link, an image, and many other things.
        </p>
    </section>

    <section class="section-1">
        <h2>Calibre Compatible</h2>
        <p>
            <a href="https://calibre-ebook.com/" target="_blank">Calibre</a> is a widely popular suite of tools for ebook reading and library management. However, it limits you to a desktop environment and doesn't enable you to easily access and modify your library from other devices. Since Calibre is such a popular program and still very useful for advanced library management we have made Libyq entirely compatible with Calibre libraries. You can upload your Calibre library to Libyq and if you ever need to, re-download the updated and still-Calibre-compatible library.
        </p>
    </section>

    <section class="section-2">
        <h2>Try It Free</h2>
        <p>
            There's a lot more to Libyq than mentioned here. Give it a try and experience it for yourself. We'll give you a week subscription for free, no payment information required.
            <br />
            <a href="app/">Try It Free</a> 
        </p>
    </section>

    <footer>
        <a href="https://xyfir.com/#/documentation/libyq/tos">Terms of Service</a>
        <a href="https://xyfir.com/#/documentation/libyq/privacy">Privacy Policy</a>
    </footer>
</body>
</html>