.purchase-subscription.stripe {
	.expiration > input[type=number] {
		display: inline-block;
		width: 5em;
	}
}

.purchase-subscription.native {
  .product {
    background-color: $lllgray;
    width: 80%;
    padding: 0.5em;
    margin: 1em auto;
    font-size: 125%;

    .title {
      font-weight: bold;
    }

    .description {
      display: block;
      margin-bottom: 0.5em;
    }

    .btn-primary {
      min-width: 10em;
      font-size: 60%;
    }
  }
}