.home {
  margin: 0em;

  p {
    width: 100%;
  }

  section.free, section.main, nav, footer {
    text-align: center;
  }

  nav.navbar {
    background-color: $md-primary-color;
    padding: 1em;
    display: flex;

    >a {
      flex: 1;
      color: white;

      &:hover {
        color: $llgray;
      }
    }
  }

  section:nth-child(even) {
    background-color: $md-primary-color;
    color: white;

    h1, h2, p {
      color: white;
    }

    a {
      color: $lblack;

      &:hover {
        color: $ddgray;
      }
    }
  }

  section:nth-child(odd) {
    background-color: white;

    h1, h2 {
      color: $md-primary-color;
    }
  }

  section.with-screenshot {
    display: flex;
    align-items: center;
    flex-direction: column;

    >img {
      height: 30em;
    }
  }

  section.install {
    p {
      margin-bottom: 1em;
    }

    a[class^="icon-"] {
      font-size: 125%;
      display: inline-block;
      padding-right: 0.4em;
    }
  }

  section.free {
    .note {
      display: block;
    }

    button {
      font-size: 2.5em;
      height: 2.5em;
    }
  }

  section.main {
    height: 70vh;
    display: flex;
    font-size: 200%;
    align-items: center;
    justify-content: center;

    .subtitle {
      line-height: 1.5;
    }

    .platforms {
      display: block;
      font-size: 50%;
      color: $dgray;
      margin-top: 2em;
    }
  }

  section.premium >div.comparison {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    >div.package {
      width: 20em;
      margin: 1em;
      padding: 0.5em;

      >header {
        >span.title {
          text-transform: uppercase;
          font-size: 200%;
        }

        >span.price {
          font-size: 300%;
          display: block;

          &:before {
            content: '$';
            font-size: 40%;
            vertical-align: super;
          }

          &:after {
            content: '/YR';
            font-size: 30%;
          }
        }
      }

      >span {
        display: block;
        margin: 1em 0;
      }

      >a.button {
        font-size: 125%;
        text-transform: uppercase;
        display: block;
        border: solid;
        border-radius: 0.2em;
      }

      &.free {
        >header>span, a.button {
          color: $md-secondary-color;
        }
        >a.button:hover,
        >header>span.price:after,
        >header>span.price:before {
          color: $md-primary-color;
        }
      }

      &.premium {
        >header>span, a.button {
          color: $md-primary-color;
        }
        >a.button:hover,
        >header>span.price:after,
        >header>span.price:before {
          color: $md-secondary-color;
        }
      }
    }
  }

  @media (max-width: 400px) {
    text-align: center;

    section.with-screenshot {
      >img {
        height: 24em;
      }
    }
  }

  @media (min-width: 401px) {
    text-align: justify;

    section {
      padding: 1% 20%;
    }
  }
}