.home {
  text-align: justify;
  margin: 0;

  p {
    width: 100%;
  }

  h2 {
    margin-bottom: 0.2em;
  }

  section.free, section.main, nav, footer {
    text-align: center;
  }

  nav.navbar {
    background-color: $md-primary-color;
    padding: 1em;
    display: flex;

    >a {
      flex: 1;
      color: white;

      &:hover {
        color: $llgray;
      }
    }
  }

  section:nth-child(even) {
    background-color: $md-primary-color;
    color: white;

    h1, h2, p {
      color: white;
    }

    a {
      color: $lblack;

      &:hover {
        color: $ddgray;
      }
    }
  }

  section:nth-child(odd) {
    background-color: white;

    h1, h2 {
      color: $md-primary-color;
    }
  }

  section.with-screenshot {
    display: flex;
    align-items: center;
    flex-direction: column;

    >img {
      height: 30em;
      margin-top: -2em;
      margin-bottom: -1.5em;
    }
  }

  section.free {
    >span.note {
      display: block;
    }

    >button {
      margin-bottom: 0.5em;
      margin-top: 0;
      font-size: 2.5em;
      height: 2.5em;
    }
  }

  section.main {
    height: 70vh;
    display: flex;
    font-size: 200%;
    align-items: center;
    justify-content: center;

    h1 {
      margin-bottom: 0;
    }

    .subtitle {
      line-height: 1.5;
      display: block;
      margin: 1em 0;
    }

    div.platforms {
      font-size: 60%;

      >a.platform {
        margin: 0.3em;

        &:hover {
          border-bottom: solid 0.1em;
        }

        >i.md-icon {
          color: inherit;
          vertical-align: sub;
        }
      }
    }
  }

  section.premium {
    padding: 0.5em;

    >div.comparison {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;

      >div.package {
        width: 20em;
        margin: 1em;
        padding: 0.5em;
        position: relative;
        padding-bottom: 2.5em;

        >header {
          >span.title {
            text-transform: uppercase;
            font-size: 200%;
          }

          >span.price {
            font-size: 300%;
            display: block;

            &:before {
              content: '$';
              font-size: 40%;
              vertical-align: super;
            }

            &:after {
              content: '/YR';
              font-size: 30%;
            }
          }
        }

        >span {
          display: block;
          margin: 1em 0;
        }

        >a.button {
          font-size: 125%;
          text-transform: uppercase;
          display: block;
          border: solid;
          border-radius: 0.2em;
          position: absolute;
          bottom: 0.5em;
          left: 0.5em;
          right: 0.5em;
        }

        &.free {
          >header>span, a.button {
            color: $md-secondary-color;
          }
          >a.button:hover,
          >header>span.price:after,
          >header>span.price:before {
            color: $md-primary-color;
          }
        }

        &.premium {
          >header>span, a.button {
            color: $md-primary-color;
          }
          >a.button:hover,
          >header>span.price:after,
          >header>span.price:before {
            color: $md-secondary-color;
          }
        }
      }
    }
  }

  @media (max-width: 400px) {
    section {
      padding: 0.5em;
    }

    section.with-screenshot {
      >img {
        height: 24em;
      }
    }

    a.platform {
      &.mac, &.windows, &.linux {
        display: none;
      }
    }
  }

  @media (min-width: 401px) {
    section {
      padding: 0.5em 20%;
    }
  }

  footer {
    background-color: white;
  }
}