div.reader {
  >div.overlay {
    >div.toolbar {
      opacity: 0.97;

      >header {
        transition: 0.3s;

        &.hide {
          transform: translate(0, -125%);
        }
      }
    }

    >span.status {
      position: fixed;
      font-size: 70%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      color: $gray;
    }

    >div.progress-slider {
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.97;
      padding: 0em 1em;
      position: fixed;
      transition: 0.3s;

      &.hide {
        transform: translate(0, 100%)
      }

      .md-slider-track-fill {
        background: white;
      }

      .md-slider-thumb--on {
        background: white;
      }
    }
  }
}

span.reader-dialog.container {
  &.no-fullscreen >div.md-dialog--centered {
    max-width: 100%;
    width: 100%;
  }

  div.create-note.form {
    margin: 0.5em 1em;

    >div.highlight {
      >div.visible-text {
        max-height: 12em;
        overflow: auto;
      }

      >div.control-container {
        display: flex;
        align-items: center;

        >div.md-slider-container {
          flex: 1;
          margin: 0 0.2em;
        }
      }
    }

    >div.md-text-field-container {
      width: 100%;
    }
  }

  section.note {
    text-align: left;

    >div {
      margin: 0.5em 1em;
    }

    >div.highlights {
      >span {
        font-style: italic;
        font-size: 90%;
        display: block;
        color: #666;

        &:before, &:after {
          font-style: normal;
          content: '"';
          color: black;
        }
      }
    }
  }

  section.manage-annotations.container {
    text-align: left;
  }

  section.manage-annotations.find {
    >ul {
      padding: 0.5em 0em;
    }

    div.discover {
      >div.md-text-field-container {
        width: 100%;
      }
    }
  }

  section.manage-annotations.view-set {
    text-align: left;

    >h3, >span, >div {
      margin: 0.5em 1em;
    }

    >span.book {
      display: block;
      margin-top: -0.5em;
      margin-bottom: 0.5em;
    }
  }

  div.annotation {
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    >div.content, >div.content > div {
      flex-flow: column;
      display: flex;
      height: 100%;

      /* allow scrolling on iOS */
      -webkit-overflow-scrolling: touch;
  	  overflow-y: auto;

      >iframe {
        flex: 1 1 auto;
        border: none;
      }
    }

    >div.content {
      >div.document {
        padding: 1em;

        p {
          font-size: 100%;
        }
      }

      >div.audio > audio {
        width: 100%;
      }

      >div.image > a {
        padding: 1em;

        >img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }

  section.book-info {
    >table {
      margin: 0.5em 1em;
      width: calc(100% - 2em);

      th, td {
        border-bottom: solid 0.1em $llgray;
        text-align: left;
      }

      span.tag {
        display: inline-block;
        margin: 0em 0.2em;

        &:first-child {
          margin-left: 0em;
        }
      }
    }

    >div.comments {
      margin: 0 1em;
      text-align: left;
    }
  }

  section.list-container {
    >ul.md-list {
      padding-bottom: 0;
    }

    >p {
      margin: 1em;
      font-size: 100%;
    }
  }

  table.book-styling {
    width: calc(100% - 5em);
    margin: 1em auto;

    th {
      font-weight: normal;
      text-align: left;

      >i.md-icon {
        vertical-align: middle;
        margin-right: 0.2em;
      }
    }

    td {
      text-align: center;
      max-width: 1em;
    }
  }

  div.filters {
    width: calc(100% - 5em);
    margin: 1em auto;
  }
}

div.reader-drawer-overlay {
  z-index: 0;
}