.reader {
  #book {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    padding: 1.1em 0em;
  }
  
  div.overlay {
    span.status {
      position: fixed;
      font-size: 70%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      color: $gray;
    }

    div.progress-slider {
      position: fixed;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $md-primary-color;
      padding: 0em 1em;

      .md-slider-track-fill {
        background: white;
      }

      .md-slider-thumb--on {
        background: white;
      }
    }
  }
}

span.reader-dialog {
  >div.md-dialog--full-page {
    >div.create-note, >div.note {
      padding: 1em;
    }
  }

  div.create-note {
    >div.highlight {
      >div.visible-text {
        max-height: 12em;
        overflow: auto;
      }
    }

    >div.md-text-field-container {
      width: 100%;
    }
  }

  div.note {
    >div.highlights {
      >span {
        font-style: italic;
        font-size: 90%;
        display: block;
        color: #666;

        &:before, &:after {
          font-style: normal;
          content: '"';
          color: black;
        }
      }
    }

    >div.content {
      margin: 1em 0em;
    }
  }

  section.manage-annotations.find {
    div.discover {
      >div.md-text-field-container {
        width: 100%;
      }
    }
  }

  div.manage-annotations.view-set {
    >span.book {
      display: block;
      margin-top: -0.5em;
      margin-bottom: 0.5em;
    }
  }

  div.annotation {
    height: 100%;
    overflow: hidden;

    >div.content, >div.content > div {
      display: flex;
      flex-flow: column;
      height: 100%;

      >iframe {
        flex: 1 1 auto;
        border: none;
      }
    }

    >div.content {
      >div.document {
        padding: 1em;

        p {
          font-size: 100%;
        }
      }

      >div.audio > audio {
        width: 100%;
      }

      >div.image img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .book-info {
    table {
      width: 100%;

      th, td {
        border-bottom: solid 0.1em $llgray;
        text-align: left;
      }
    }

    .tag {
      display: inline-block;
      margin: 0em 0.2em;
    }

    .tag:first-child {
      margin-left: 0em;
    }

    .comments {
      padding-top: 1em;
      margin-top: 1em;
    }
  }

  .book-styling {
    >table {
      margin: auto;

      th {
        text-align: left;
      }
    }
  }

  .filters {
    width: 85%;
    margin: auto;

    .slider {
      display: flex;
      height: 3em;

      .slider-container {
        flex: 10;
      }

      span[class^="icon-"] {
        flex: 1;
      }
    }
  } 
}