.settings-reader {
    
    .padding {
        
        .example {
            border: solid 1px black;
        }
        
    }
    
    input[type="color"] {
        display: block;
        margin: 1em auto;
    }
    
}