div.reader-settings {
  span.example.page-padding {
    border: solid 1px black;
  }

  div.color-picker {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

div.color-picker-dialog header.color {
  height: 2em;
}